body {
    font-family: open sans;
}
.nav-link {
    font-family: oswald;
    font-size: 40px;
    margin: -20px 40px -10px 40px;
    font-variant: small-caps;
}

nav {
    background-color: rgba(250, 251, 228, 0.8) ;
}
nav .navbar-collapse {
    display: block;
}
.navbar-toggler {
    
    
}

.hero {
    height: 10%;
    width: 100%;
}

.main {
    color: #FAFBE4;
    background-color: #1D2567;
    z-index: 3;
    height: 100vh;
    position: absolute;
}
.main h1 {
    font-family: oswald;
    font-variant: small-caps;
    font-size: 130px;
    z-index: 2;
    text-align: center;
    padding-top: 8vh;
    position: absolute;
    
}

.main img {
    position: relative;
    height: 100%;
    vertical-align: baseline;
}
@media screen and (max-width: 992px){
    .main h1 {
        font-size: 100px;
        margin-top: 20%;
        text-align: center;
    }
    .main img {
        margin-top: auto;
        position: absolute;
        margin-top: 20vh;
    }
    
    .name h2 {
        text-align: center;
     margin-top: 0%;
    }
    .story p {
        font-family: open-sans;
        margin-top: 0%;
    }
    section {
        height:100%;
    }
}
 
@media screen and (max-width: 768px){
    nav .navbar-collapse {
    display: table-column;
    height: 100vh;
    text-align: center;
    vertical-align: middle;
}
    .nav-link {
    font-size: 70px;
        margin-top: 0;
}
    ul.navbar-nav {
        margin-top: 10%;
        
    }
    nav  {
    background-color: rgba(250, 251, 228, 1) ;
    }
    .navbar-collapse {
        background-color: rgba(250, 251, 228, 1) ;
    }
    .main h1 {
        font-size: 60px;
        margin-top: 8%;
        text-align: center;
    }
    .main img {
        margin-top: auto;
        position: absolute;
        margin-top: 31.8vh;
    }
    
    .story .name h2 {
        text-align: center;
        margin-top: 0%;
    }
    .story p {
        font-family: open-sans;
        font-size: 15px;
    }
    .carousel li p {
        font-size: 18px;
    } 
    section{
        height: 100%;
    }
    .seoul img {
        margin-top: -62px;
    }
    .busan {
        margin-top: 20px;
    }
    .jeju img {
        margin-top: ;
    }
    .story.empty {
        height: 100%;
    }
    .trip {
        height: 100%;
    }
    li p {
        size: 10px;
    }
     
}
section {
    height: 100vh;
}

.city {
    z-index: 10;
}
.story {
    position: relative;
    width: 100%;
}
svg .road {
    height: 400vh;
    
}
.name h2 {
    font-family: oswald;
    font-variant: small-caps;
    font-size: 100px;
    margin-top: 30%;
}

.empty {
    background-color: #FAFBE4;
    z-index: 1;
    height: 100%;
    width: 100%;
    position: absolute;
}

.road {
    z-index: 2;
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 100%;

}

.trip h3 {
    font-family: oswald;
    font-variant: small-caps;
    font-size: 60px;
    text-align: center;
    color: #FAFBE4;
    z-index: 5;
    position: relative;
    background-color: #D7C2B6;
}

#carousel {
    background-color: #D7C2B6;
    z-index: 10;
}

.trip {
    background-color: #D7C2B6;
    z-index: 10;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}
.carousel h4 {
    font-family: oswald;
    font-variant: small-caps;
    font-size: 60px;
    text-align: center;
    color: #FAFBE4;
    margin-top: 41%;
}

.carousel img {
    width: 15%;
    margin: auto;
    
}
.trip img {
    margin-top: 2%;
}
li p {
    text-align: left;
    color: #FAFBE4;
    font-family: open-sans;
    font-size: 20px;
    margin-top: 2vh;
}
.trip ul {
    margin-top: 3%;
    color: #FAFBE4;
}
p b {
    font-weight: 500;
}
